<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="header">
        <h1>BlogSite</h1>
        <div id="usercred">
            <a href="">Login</a>
            <a href="">SignUp</a>
        </div>
    </div>
    <div class="side"></div>
    <div class="container"></div>
    <div class="footer">
        <% const year = new Date().getFullYear() %>
        <p id="cright">Copyright © <%= year %></p>
    </div>
</body>
</html>